.login{
    border: 1px solid black;
    width: fit-content;
    margin: auto;
    margin-top: 6rem;
    padding: 20px;
}

.loginHeader{
    text-align: center;
}

.loginforminput{
    display: block;
    margin: 20px;
}

.loginbutton{
    text-align: center;
    margin: 1rem;
    margin-left: 80px;
}

.forgetPasswordlink{
    text-align: right;
}

.forgetPasswordlinktext{
    margin-right: 10px;
}

.loginregisterbutton{
    margin-left: 30%;
}